/* static/css/base.css */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-left: 15%;
    padding-right: 15%;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
}

header h1 a {
    color: red;
    text-decoration: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#eaedec, #00ced1);
    background-color: rgb(227, 237, 233);
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(18, 132, 79);
    font-size: 24px;
}

h3 {
    text-align: center;
    color: rgb(82, 172, 139);
    font-size: 20px;
}

img {
    float: center;
    margin-right: 20px;
}

.box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.box :first-child {
    align-self: center;
}

#hi {
    color: black;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 2em;
}

.box :first-child {
    align-self: center;
}

.box_footpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 2em;
}

.box_footpage :first-child {
    align-self: center;
}

div {
    text-align: center;
}

button {
    position: 50%;
}