<!-- templates/about.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>About page</h1>

<body>
    <img src="{% static 'img/mountain.png'%}" class="img-fluid" alt="bg">

    <div id="hi">
        <img src="{% static 'img/prof.png'%}" class="img-fluid" alt="bg" width="180">
        <h3>Salut.</h3>
        <p>
            Je suis professeur de mathématiques à Metz. Je me passionne pour la callisthénie et je souhaite vous
            partager
            mon expérience.
        </p>
    </div>

    <h2>What I can do.</h2>

    <div class="box">
        <div>
            <h3>Design what you want.</h3>
            <p>I like to keep it simple. My goals are to focus on typography, content and conveying the message that you
                want to
                send.</p>
        </div>
        <div><img src="{% static 'img/prof.png'%}" class="img-fluid" alt="bg" width="180"></div>
    </div>

    <div class="box">
        <div><img src="{% static 'img/prof.png'%}" class="img-fluid" alt="bg" width="180"></div>
        <div>
            <h3>Develop what you need.</h3>
            <p>I'm a developer, so I know to create your website to run across devices using the latest technologies
                available.
            </p>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Message me</button>

    <div class="box_footpage">
        <div><a href="https://www.linkedin.com/in/jordan-no%C3%ABl-%F0%9F%A6%8A-684a94147/"> LinkedIn </a></div>
        <div><a href="https://www.instagram.com/genredanoel/"> Instagram </a></div>
        <div><a href="https://www.tiktok.com/@mrnoelj"> TikTok </a></div>
    </div>
</body>


{% endblock content %}