{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}DranJo{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=\
        Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>


<header>
    <div class="box">
        <div>
            <img src="{% static 'img/cloud.png'%}" class="img-fluid" alt="bg">
        </div>
        <div>
            <a href="{% url 'about' %}">About</a> |
            <a href="{% url 'work' %}">Work</a> |
            <a href="{% url 'notes' %}">Notes</a>
        </div>
    </div>
</header>

<main>
    {% block content %}
    {% endblock content %}
</main>

<!-- Bootstrap JavaScript Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>